# {{ ansible_managed }}

[Unit]
Description=Monasca Log Transformer
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ log_transformer_user }}
Group={{ log_transformer_group }}
Restart=on-failure
ExecStart={{ logstash_dest }}/bin/logstash -f {{ log_transformer_conf_file }} -l {{ log_transformer_log_dir }}/logs-transformer.log --verbose

[Install]
WantedBy=multi-user.target
