# {{ ansible_managed }}

description "{{ log_transformer_service_name }}"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

setgid {{ log_transformer_group }}
setuid {{ log_transformer_user }}

exec {{logstash_dest}}/bin/logstash -f {{ log_transformer_conf_file }} -l {{ log_transformer_log_dir }}/logs-transformer.conf --verbose
